body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: black;
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-family: cursive ;
}
.logo:hover{
    color: brown;
    transition: 0.5s ease;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    padding: 10px 20px;
    position: relative;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.menu ul li a:hover{
    color: black;
    background-color: brown;
    transition: 0.2s;
}
.dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    left: 0%;
    top: 70%;
    background-color:black;
}
.dropdown ul{
    display: block;
    margin: 5px;
}
.dropdown ul li{
    width: 100px;
    padding: 7%;
}
.img-gallery{
    width: 80%;
    margin: 150px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.img-gallery img:hover{
    transform: scale(1.2);
    transition: 1s ease;
}
.full-img{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 700px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.full-img .btn{
    position: absolute;
    top: 89%;
    left: 23%;
    color: blue;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
}
.full-img .btn:hover{
    background-color: rgb(226, 45, 69);
    transition: 0.3s;
}
.full-img .btn a:hover{
    color: white;
}
.full-img .btn a{
    text-decoration: none;
    padding: 5px 25px;
    height: 50px;
}
.Con_form{
    min-height: 100vh;
    display: flex;
    background-color: rgb(185, 67, 67);
    justify-content: center;
    align-items: center;
}
.Con_form form{
    width: 500px;
    padding: 6px;
}
.Con_form form h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}
.Con_form form input{
    width: 100%;
    padding: 20px;
    outline: none;
    border: black;
    margin: 6px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.Con_form form textarea{
    height: 100px;
    width: 100%;
    border: black;
    font-family: Arial, Helvetica, sans-serif;
}
#submit{
    width: 200px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    font-size: 18px;
}
#Catagory{
    width: 100%;
    padding: 20px;
    outline: none;
    border: black;
    margin: 6px 0px;
    font-family: Arial, Helvetica, sans-serif; 
}
.title{
    margin-top: 200px;
    margin-bottom: 40px;
    text-align: center;
    color: brown;
    font-family: cursive;
    font-size: 2.0rem;
}
.grid-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.grid-wrapper{
    margin: 25px;
    display: grid;
    grid-gap:7px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: 335px;
    grid-auto-flow: dense;
}
.con_no{
    text-align: center;
}
.con_no .contact{
    color: brown;
}
#submit:hover{
    background-color: blue;
    transition: 0.3s;
    color: black;
}






